<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58778398425-trvn6oq5fl3srghhj67vitm810clne9c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58778398425-trvn6oq5fl3srghhj67vitm810clne9c</string>
	<key>API_KEY</key>
	<string>AIzaSyBmSlfybYfJrxpPQeJdpH9_oYxbmFVUHC4</string>
	<key>GCM_SENDER_ID</key>
	<string>58778398425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.profuturo.pf-movil.face-auth</string>
	<key>PROJECT_ID</key>
	<string>fwfaceauthexample</string>
	<key>STORAGE_BUCKET</key>
	<string>fwfaceauthexample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58778398425:ios:5fa4f37783c09e71c0d8c8</string>
	<key>DATABASE_URL</key>
	<string>https://fwfaceauthexample.firebaseio.com</string>
</dict>
</plist>